* {
  color: #2F4858;
}


.nav > *,  .nav > .nav-header > .nav-title, .nav > .nav-links > input, .navFooter > .footer {
  color: #fff;
}

.pageNume{
  background-color: #2F4858;
  color: #fff
}

.listLeft, main{
  background-color: #FFEEB8;
}
.mainView{
  background-color: #EDD0C5;
}


.navFooter , .nav {
  background-color: #2F4858;
}

.nav > .nav-links > input {
    background-color: #2F4858;
}
.nav > .nav-links > input:hover {
  background-color: #33658A;
}
