.flex-form{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 1em;
}

input, select, option{
  padding: 0.6em;
}
textarea{
  padding: 3em;
}

.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  background-color: white;
}
