main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main > *{
  padding: 2em;
  flex-grow: 2;
}


@media (max-width:860px) {
  .listLeft{
    width: 100vw;
  }
}

@media (min-width:860px) {
  .listLeft{
    height: 80vh;
  }
}
