

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {

  width: 100%;
  position: relative;
}

.navFooter {

  width: 100%;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 1% 1% 1% 1%;
}

.nav > .nav-center {
  display: inline;
  float: center;
  font-size: 18px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > input {
  display: inline-block;

  padding: 1em 1em 2em 1em;
  margin: 0.5em 1em 0em 0em;
  text-decoration: none;
  border-radius: 0.3em;
}

.navFooter > .footer {
  text-decoration: none;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-bottom: 0.5em;
  margin: 0em;
}


.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;

    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > input {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
